* {
    margin: 0;
    padding: 0;
}
.body {
    height: 100dvh;
}

.item {
    background-color: red;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    justify-content: center;

}
.container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;    /*repeat(3, 1fr)*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;   /*repeat(7, 1fr);*/
    border: 1px solid;
}

.elemento1 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
}

.elemento2 {
    grid-area: 1 / 4 / 3 / -1;
}

.elemento3 {
    grid-row: 3;
    grid-column: 4 / span 2;
}

.elemento4 {
    grid-row: 3;
    grid-column: 6 / span2;
}